* { margin:0; padding:0; }

/*
.box {
    display: flex;
  }

.box :first-child {
    width: 150px;
  }

.box > * {
    flex: 0 0 auto;
  }
  

.banner {
    display: flex;
    padding:8px;
    flex-flow:row wrap;
}
.subbannerLeft {
    background-color:white;
    flex-shrink:1;
    height:48px;
    width:521px;
    padding-right:16px;

}
.subbannerRight {
    background-color:red;
    height:48px;
    width:213px;

}

.logo {
    
}

.searchBar {
    height:44px;
}

.customizeButton {
    width:116px;
    height:32px;
}
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: auto;
    margin-left: 30px;
}

.header-cont a {
    font-size: 0.8rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.ord-link {
    padding-right: 10px;
    color: #464646;
    font-weight: 475;
}

.sign-in {
    background-color: rgb(106, 106, 223);
    color: #ffffff;
    text-decoration-style: solid;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #0f12e4;
    border-radius: 5%;
    font-weight: 600;
}

.sign-in:hover {
    box-shadow: 1px 0px 0px #6d6d6d;
}

.ord-link:hover {
    text-decoration: underline;
    color: #757575;
}

.main-cont {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 165px;
    margin-bottom: 15px;
}

.main-cont img {
    width: 275px;
    height: auto;
    margin-bottom: 25px;
}

.main-cont input {
    width: 600px;
    height: 50px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
}

.main-cont input:hover {
    box-shadow: 0px 2px 4px #c0c0c0;
}

.main-cont button {
    margin: auto 5px;
    font-size: 0.85rem;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #797979;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
}

.main-cont button:hover {
    color: #303030;
    border-color: #bdbdbd;
}

.country-footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background-color: #f8f8f8;
}

.footer-cont {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background-color: #f8f8f8;
}

.footer-cont a {
    text-decoration: none;
    color: #525252;
    text-decoration: none;
    padding-right: 20px;
}
