* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.header-cont a {
    font-size: 0.8rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.ord-link {
    padding-right: 15px;
    color: #464646;
    font-weight: 475;
}

.apps {
    position: relative;
    top:4px;
}

.sign-in {
    background-color: rgb(66, 133, 244);
    color: #ffffff;
    text-decoration-style: solid;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(66, 133, 244);
    border-radius: 5%;
    font-weight: 600;
}

.sign-in:hover {
    box-shadow: 1px 0px 0px #6d6d6d;
}

.ord-link:hover {
    text-decoration: underline;
    color: #757575;
}

.main-cont {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 165px;
    margin-bottom: 15px;
}

.main-cont img {
    width: 275px;
    height: auto;
    margin-bottom: 25px;
}

.main-cont input {
    width: 600px;
    height: 50px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
}

.main-cont input:hover {
    box-shadow: 0px 2px 4px #c0c0c0;
}

.main-cont button {
    margin: auto 5px;
    font-size: 0.85rem;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #797979;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
}

.main-cont button:hover {
    color: #303030;
    border-color: #bdbdbd;
}

.footer-cont {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background-color: #f8f8f8;
    padding-right: 30px;
    padding-left: 30px;
}

.footer-cont a {
    text-decoration: none;
    color: #525252;
    text-decoration: none;
    padding-right: 20px;
}
