* { margin:0; padding:0; }

/*
.box {
    display: flex;
  }

.box :first-child {
    width: 150px;
  }

.box > * {
    flex: 0 0 auto;
  }
  */

.banner {
    display: flex;
    padding:8px;
    flex-flow:row wrap;
}
.subbannerLeft {
    background-color:white;
    flex-shrink:1;
    height:48px;
    width:521px;
    padding-right:16px;

}
.subbannerRight {
    background-color:red;
    height:48px;
    width:213px;

}

.logo {
    
}

.searchBar {
    height:44px;
}

.customizeButton {
    width:116px;
    height:32px;
}
